/.buildpath
/.project
/.settings
/.idea
Makefile
Makefile.in
!/build/win32/**/Makefile
!/build/win64/**/Makefile
!/src/modules/dummy/Makefile
frontend.mo
.deps
.dirstamp
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/cscope.*
/GPATH
/GRTAGS
/GTAGS
/depcomp
/missing
/nbproject
/install-sh
/tags
*.a
*.o
build/win32/examples/zabbix_sender/sender.exe
build/win32/examples/zabbix_sender/sender.obj
build/win32/project/*.idb
build/win32/project/*.manifest
build/win32/project/*.pdb
build/win32/project/*.res
build/win32/project/MSG00001.bin
build/win32/project/messages.h
build/win32/project/messages.rc
build/win32/project/resource.res
/zabbix-*.tar.gz
/commit.sh
/*.patch
/*.orig
.vscode/*
*.swp
include/config.h
include/config.h.in~
